.row
  .col-12.col-lg-6
    %h1
      = fa_icon('comments')
      = t(".headline_discuss", default: "Discuss")
    %p
      != t(".paragraph_discuss", default: "On debae you can discuss political statements using pro and contra arguments.")
  .col-12.col-lg-6
    %h1
      = fa_icon('pie-chart')
      = t(".headline_vote", default: "Vote")
    %p
      != t(".paragraph_vote")
.row
  .col-12
    .row
      %h4
        %u
          = t(".headline_discussed_statements") + ':'
    .row
      .card-columns
        - @statements.each do |statement|
          = render 'statements/statement_link', statement: statement
