<section class="row">
  <div class="jumbotron statement-header">
    <div class="container">
      
      <div class="row author">
        <div class="avatar-container">
          <%= image_tag statement.user_or_mock.avatar.url(:thumb), class: "img-circle avatar" %>
        </div>
        <div class="information">
          <div class="name">
            <%= t("statements.show.by", default: "By %{username}", username: statement.user_or_mock.name) %>
          </div>
          <div class="meta secondary">
            <%= t("statements.show.creator_attitudes.#{creator_attitude(statement)}", default: "") %> --
            <%= l(statement.created_at) %>
          </div>
        </div>
      </div>

      <div class="row headline">
        <%= content_tag headline_tag(body(statement)), body(statement) %>
      </div>

      <div class="row statement-actions">
        <div class="left">
          <%= render 'vote_button', statement: statement, is_pro_vote: true, existing_vote: has_voted?(true, current_user, statement) %>
        </div>
        <div class="middle">
          <%= render 'score_circle', id: statement.id, score: statement.score %>
        </div>
        <div class="right">
          <%= render 'vote_button', statement: statement, is_pro_vote: false, existing_vote: has_voted?(false, current_user, statement) %>
        </div>
      </div>
    </div>
  </div>
</section>
