<% argument_for, is_pro_argument = argument_hash(params[:pro], params[:contra]) %>
<% statement_to_be_backed = argument_for ? Statement.find_by(id: argument_for) : nil %>

<% if statement_to_be_backed %>
  <div class="row">
    <h2><%= t(".#{is_pro_argument ? "pro" : "contra"}_argument_headline") %></h2>
  </div>
  <%= render 'headline', statement: statement_to_be_backed %>
<% end %>

<div class="row">
  <%= render 'shared/active_record_errors', resource: @statement %>
</div>

<div class="row">
  <%= form_for @statement do |f| %>
    
    <%= hidden_field :argument, :argument_for, value: argument_for %>
    <%= hidden_field :argument, :is_pro_argument, value: is_pro_argument %>
    <%= hidden_field :statement, "[body][original_locale]", value: I18n.locale %>

    <div class="input-group">
      <%= text_area_tag "statement[body][thesis][#{I18n.locale}]", @statement.body == "{}" ? nil : body(@statement), placeholder: t(".body", default: "Your statement"), class: "form-control comment" %><br />
      <span class="input-group-btn">
        <%= button_tag(type: "submit", class: "btn btn-default area-height", id: "new-statement") do %>
          <%= fa_icon("send-o") %><br />
          <%= t(".submit_html", default: "Submit") %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
