<h1><%= @statement.body %></h1>

<%= render 'vote_button', statement: @statement, is_pro_vote: true, existing_vote: has_voted?(true, current_user, @statement) %>
<%= render 'vote_button', statement: @statement, is_pro_vote: false, existing_vote: has_voted?(false, current_user, @statement) %>

<%= render 'score_circle', id: @statement.id, score: @statement.score %>

<article class="arguments-container">
  <ul class="arguments pro">
    <h3><%= t(".headlines.pro_arguments", default: "Pro arguments") %></h3>
    <li><%= render @statement.pro_arguments %></li>
    <li><%= link_to t(".links.new_pro_argument", default: "New pro argument"), new_statement_path(pro: @statement.id) %></li>
  </ul>

  <ul class="arguments contra">
    <h3><%= t(".headlines.contra_arguments", default: "Contra arguments") %></h3>
    <li><%= render @statement.contra_arguments %></li>
    <li><%= link_to t(".links.new_contra_argument", default: "New contra argument"), new_statement_path(contra: @statement.id) %></li>
  </ul>
</article>

<%= render 'comments/form', commentable: @statement %>
<%= render 'comments/list', comments: @statement.newest_comments %>
