<%= render 'add_to_history', name: body(@statement) %>

<%= render 'headline', statement: @statement %>

<section class="row">
  <div class="col-xs-12 col-sm-6">
    <%= render 'arguments_container', pro_or_contra: :pro %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= render 'arguments_container', pro_or_contra: :contra %>
  </div>
</section>

<section class="row">
  <div class="col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8 comments-container">
    <!-- <div class="row"> -->
      <h1><%= t("comments.headline") %></h1>
    <!-- </div> -->
    <div class="comments-form-container">
      <%= render 'comments/form', commentable: @statement %>
    </div>
      <%= render 'comments/list', comments: @statement.newest_comments %>
  </div>
</section>
