<%= render 'headline', statement: @statement %>

<section class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="arguments-container pro">
      <h3><%= t(".headlines.pro_arguments", default: "Pro arguments") %></h3>
      <ul>
        <%= render 'statement_argument_links/list', statement_argument_links: @statement.links_to_pro_arguments %>
      </ul>
      <%= link_to new_statement_path(pro: @statement.id), class: "btn btn-success" do %>
        <%= fa_icon("plus-square") %>
        <%= t(".links.new_pro_argument", default: "New pro argument") %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="arguments-container contra">
      <h3><%= t(".headlines.contra_arguments", default: "Contra arguments") %></h3>
      <ul>
        <%= render 'statement_argument_links/list', statement_argument_links: @statement.links_to_contra_arguments %>
      </ul>
      <%= link_to new_statement_path(contra: @statement.id), class: "btn btn-danger" do %>
        <%= fa_icon("plus-square") %>
        <%= t(".links.new_contra_argument", default: "New contra argument") %>
      <% end %>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8 comments-container">
    <!-- <div class="row"> -->
      <h1><%= t("comments.headline") %></h1>
    <!-- </div> -->
    <div class="comments-form-container">
      <%= render 'comments/form', commentable: @statement %>
    </div>
      <%= render 'comments/list', comments: @statement.newest_comments %>
  </div>
</section>
