<% argument = statement_argument_link.argument %>

<li class="statement-argument-link">
  <div class="actions">
    <%= render 'statement_argument_links/vote_button', link: statement_argument_link, is_pro_vote: true, existing_vote: has_voted?(true, current_user, statement_argument_link) %>
    <span><%= statement_argument_link.pro_votes.count - statement_argument_link.contra_votes.count %></span>
    <%= render 'statement_argument_links/vote_button', link: statement_argument_link, is_pro_vote: false, existing_vote: has_voted?(false, current_user, statement_argument_link) %>
  </div>

  <div class="body">
    <%= link_to statement_path(argument) do %>
      <span class="link-expander"></span>
      <%= body(argument) %>
    <% end %>
  </div>

  <div class="score">
    <%= t("statement_argument_links.score_labeled_html", score: content_tag(:div, score(argument.score), class: "amount"), default: "%{score} consent") %>
  </div>
</li>
