%h2
  = t("users.sessions.new.headline", default: "Sign in")

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email, t(".email_label", default: "Email")
    = f.email_field :email, autofocus: true, class: "form-control"

  .form-group
    = f.label :password, t(".password_label", default: "Password")
    = f.password_field :password, autocomplete: "off", class: "form-control"

  - if devise_mapping.rememberable?
    .form-check
      %label.form-check-label
        = f.check_box :remember_me, class: "form-check-input"
        = t("users.sessions.new.remember_me")

  = f.submit t(".submit_button_value", default: "Log in"), class: "btn btn-primary"

= render "devise/shared/links"
