<h2><%= t("mailers.devise.reset_password_instructions.headline", username: @resource.name, default: "Hello %{username}!") %></h2>

<p><%= t("mailers.devise.reset_password_instructions.body_html", root_link: link_to("debae", root_url), default: "Someone has requested a link to change your password. You can do this through the link below.") %></p>

<p><%= link_to t("mailers.devise.reset_password_instructions.reset_link", default: "Change my password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("mailers.devise.reset_password_instructions.might_ignore", default: "If you didn't request this, please ignore this email.") %></p>
<p><%= t("mailers.devise.reset_password_instructions.hint", default: "Your password won't change until you access the link above and create a new one.") %></p>
