<%= nav_bar static: :top, brand: "debae", brand_link: root_path, responsive: true do %>
  <%= menu_group do %>
    <%= menu_item t("layouts.header.links.about", default: "About"), about_path %>
  <% end %>
  <%= menu_group pull: :right do %>
    <%= menu_item t("layouts.header.links.new_statement"), new_statement_path %>
    <% if user_signed_in? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= image_tag current_user.avatar.url(:thumb), class: "img-circle avatar" %> <%= current_user.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <%= menu_item t("layouts.header.links.account_settings", default: "Account settings"), edit_user_profile_path %>
          <%= drop_down_divider %>
          <%= menu_item t("layouts.header.links.sign_out", default: "Sign out"), destroy_user_session_path, method: :delete %>
        </ul>
      </li>
    <% else %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t("layouts.header.dropdowns.join", default: "Join") %> <b class="caret"></b><br />
          <%= fa_icon("envelope") + " " + fa_icon("facebook-square", class: "brand-related facebook") + " " + fa_icon("google", class: "brand-related google") + " " + fa_icon("twitter", class: "brand-related twitter") %>
        </a>
        <ul class="dropdown-menu">
          <%= menu_item fa_icon("envelope") + " " + t("layouts.header.links.sign_in", auth_type: "Email", default: "Sign in with %{auth_type}"), new_user_session_path %>
          <%= drop_down_divider %>
          <%= menu_item fa_icon("facebook-square", class: "brand-related facebook") + " " + t("layouts.header.links.sign_in", auth_type: "Facebook", default: "Sign in with %{auth_type}"), user_facebook_omniauth_authorize_path %>
          <%= menu_item fa_icon("google", class: "brand-related google") + " " + t("layouts.header.links.sign_in", auth_type: "Google", default: "Sign in with %{auth_type}"), user_google_oauth2_omniauth_authorize_path %>
          <%= menu_item fa_icon("twitter", class: "brand-related twitter") + " " + t("layouts.header.links.sign_in", auth_type: "Twitter", default: "Sign in with %{auth_type}"), user_twitter_omniauth_authorize_path %>
        </ul>
      </li>
    <% end %>
  <% end %>
<% end %>
