<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title><%= page_title(yield(:title)) %></title>
    <meta name="description" content="<%= page_description(yield(:description)) %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <%# Render favicon tags for all sizes and devices %>
    <%= render "favicon" %>
  </head>

  <body>
    <div id="main-content">
      <%= render 'layouts/email_reminder' if user_signed_in? %>

      <header>
        <%= render 'layouts/header' %>
      </header>

      <%= render 'layouts/statement_history_anchor' %>

      <div class="main-divider"></div>

      <div class="container main break-word">
        <%# Display flash messages. %>
        <div class="row">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-info" %>
          <% end %>
        </div>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
