<% provide(:title, t("layouts.authentication.title", default: "Join")) %>
<% provide(:description, t("layouts.authentication.description", default: "Sign in/sign up with your email address or your account with facebook, twitter or google.")) %>


<% sign_in_tab_active = request.path == new_user_session_path %>
<% sign_up_tab_active = request.path == new_user_registration_path %>

<% content_for :content do %>
  <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= "active" if sign_in_tab_active %>">
        <%= link_to t("layouts.authentication.tabs.sign_in"), new_user_session_path %>
      </li>
      <li role="presentation" class="<%= "active" if sign_up_tab_active %>">
      <%= link_to t("layouts.authentication.tabs.sign_up"), new_user_registration_path %>
      </li>
    </ul>

    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
